<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Find Restaurants You Might Like in Pittsburgh</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- Tab Icon -->
        <link rel="shortcut icon" type="image/x-icon" href="public/images/logo/logo-small.png" />

        <!-- Import CSS -->
        <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">

    </head>
<body>

<link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">


  <!-- JvectorMap -->
  <link rel="stylesheet" href="jvectormap/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="jvectormap/jquery-jvectormap-world-mill.js"></script>
  <script src="jvectormap/jquery-jvectormap-us-aea.js"></script>
  <script src="jvectormap/jquery-jvectormap-ca-lcc.js"></script>
  <script src="jvectormap/jquery-jvectormap-de-mill.js"></script>
  <script src="jvectormap/jquery-jvectormap-uk_regions-mill.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

  <script>
      // Parameters
      const backgroundColor = '#08101c';
      const borderColor = '#4772b8';
  </script>

    <!-- Middle -->
    <div class="grey-canvas">
        <table>
            <tr>
                <td valign="top">
                    <table class="body-item-1">
                        <tr class="body-item">
                            <td class="body-item">
                                <p class="body-item-title-school">
                                    ENTER THE NAME OF YOUR FAVORITE RESTAURANT
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <form action="restaurants_recommendation_by_name" method="GET">
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <p class="body-item-content-first">Restaurant Name:</p>
                                                            </td>
                                                            <td>
                                                                <input id="restaurants-name-input" class="body-item-content" type="text" name="restaurant_name" value="{{restaurant_name}}"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p class="body-item-content">Key Words:</p>
                                                            </td>
                                                            <td>
                                                                <input id="key-words-input" class="body-item-content" type="text" name="key_words_input" value=""/>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="append-first-column-here"></div>
                                                    <div id="append-second-column-here"></div>
                                                    <div>
                                                        <input class="submit-button" type="submit" value="Get Similar Restaurants!" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <input id="url-text" type="input"></input>
                                <input type="button" class="copy-url-button" value="Copy URL To Clipboard" onclick="CopyURLToClipboard();" />
                                <br />
                                <input id="url-name" type="input"></input>
                                <br /><br /><br />
                            </td>
                        </tr>
                    </table>
                    <div id="append-reviews-of-current-business-here"></div>
                </td>
                <td valign="top">
                    <table class="body-item-1">
                        <tr class="body-item">
                            <td class="body-item">
                                <p class="body-item-title-school">SIMILAR RESTAURANTS</p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <br />
                                <p class="body-item-content-first">1. <a name="load-more-reviews" id="1_recommendation" href="" class="school-name"></a></p>
                                <div id="1_add_stars_here"></div>
                                <p class="body-item-content" id="1_recommendation_score"></p>
                                <input id="1_load_more_reviews" class="key-word-button" type="submit" value="See More Reviews" onclick="loadMoreReviews(this);"/>
                                <p class="body-item-content" id="1_recommendation_content"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <br />
                                <p class="body-item-content-first">2. <a name="load-more-reviews" id="2_recommendation" href="" class="school-name"></a></p>
                                <div id="2_add_stars_here"></div>
                                <p class="body-item-content" id="2_recommendation_score"></p>
                                <input id="2_load_more_reviews" class="key-word-button" type="submit" value="See More Reviews" onclick="loadMoreReviews(this);"/>
                                <p class="body-item-content" id="2_recommendation_content"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <br />
                                <p class="body-item-content-first">3. <a name="load-more-reviews" id="3_recommendation" href="" class="school-name"></a></p>
                                <div id="3_add_stars_here"></div>
                                <p class="body-item-content" id="3_recommendation_score"></p>
                                <input id="3_load_more_reviews" class="key-word-button" type="submit" value="See More Reviews" onclick="loadMoreReviews(this);"/>
                                <p class="body-item-content" id="3_recommendation_content"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <br />
                                <p class="body-item-content-first">4. <a name="load-more-reviews" id="4_recommendation" href="" class="school-name"></a></p>
                                <div id="4_add_stars_here"></div>
                                <p class="body-item-content" id="4_recommendation_score"></p>
                                <input id="4_load_more_reviews" class="key-word-button" type="submit" value="See More Reviews" onclick="loadMoreReviews(this);"/>
                                <p class="body-item-content" id="4_recommendation_content"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <br />
                                <p class="body-item-content-first">5. <a name="load-more-reviews" id="5_recommendation" href="" class="school-name"></a></p>
                                <div id="5_add_stars_here"></div>
                                <p class="body-item-content" id="5_recommendation_score"></p>
                                <input id="5_load_more_reviews" class="key-word-button" type="submit" value="See More Reviews" onclick="loadMoreReviews(this);"/>
                                <p class="body-item-content" id="5_recommendation_content"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <br />
                                <p class="body-item-content-first">6. <a name="load-more-reviews" id="6_recommendation" href="" class="school-name"></a></p>
                                <div id="6_add_stars_here"></div>
                                <p class="body-item-content" id="6_recommendation_score"></p>
                                <input id="6_load_more_reviews" class="key-word-button" type="submit" value="See More Reviews" onclick="loadMoreReviews(this);"/>
                                <p class="body-item-content" id="6_recommendation_content"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <br />
                                <p class="body-item-content-first">7. <a name="load-more-reviews" id="7_recommendation" href="" class="school-name"></a></p>
                                <div id="7_add_stars_here"></div>
                                <p class="body-item-content" id="7_recommendation_score"></p>
                                <input id="7_load_more_reviews" class="key-word-button" type="submit" value="See More Reviews" onclick="loadMoreReviews(this);"/>
                                <p class="body-item-content" id="7_recommendation_content"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <br />
                                <p class="body-item-content-first">8. <a name="load-more-reviews" id="8_recommendation" href="" class="school-name"></a></p>
                                <div id="8_add_stars_here"></div>
                                <p class="body-item-content" id="8_recommendation_score"></p>
                                <input id="8_load_more_reviews" class="key-word-button" type="submit" value="See More Reviews" onclick="loadMoreReviews(this);"/>
                                <p class="body-item-content" id="8_recommendation_content"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <br />
                                <p class="body-item-content-first">9. <a name="load-more-reviews" id="9_recommendation" href="" class="school-name"></a></p>
                                <div id="9_add_stars_here"></div>
                                <p class="body-item-content" id="9_recommendation_score"></p>
                                <input id="9_load_more_reviews" class="key-word-button" type="submit" value="See More Reviews" onclick="loadMoreReviews(this);"/>
                                <p class="body-item-content" id="9_recommendation_content"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="body-item-2">
                        <tr class="body-item">
                            <td class="body-item">
                                <br />
                                <p class="body-item-content-first">10. <a name="load-more-reviews" id="10_recommendation" href="" class="school-name"></a></p>
                                <div id="10_add_stars_here"></div>
                                <p class="body-item-content" id="10_recommendation_score"></p>
                                <input id="10_load_more_reviews" class="key-word-button" type="submit" value="See More Reviews" onclick="loadMoreReviews(this);"/>
                                <p class="body-item-content" id="10_recommendation_content"></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- <div class="fixed-form-div"> -->
        <!-- </div> -->


        <script type="text/javascript">
            // Use dictionary to remove duplicate key words
            var dic = {};
            var url_para = {};
            $(document).ready(function () {
                $('#url-text').val(window.location.href);

                // Get parameters in URL
                var url = window.location.search.substring(1).replace(/\+/g, ' ');
                if (url.length > 0) {
                    var paras = url.split('&');
                    console.log(paras);
                    for (var i = 0; i < paras.length; i++) {
                        var para = paras[i];
                        var name = paras[i].split('=')[0].trim();
                        var val = paras[i].split('=')[1].trim();
                        if (!isNaN(val)) {
                            val = parseInt(val);
                        }
                        url_para[name] = val;
                    }
                    // console.log(url_para);

                    // Create slide bar from the url
                    for (key in url_para) {
                        if (!key.startsWith('key_word_')) {
                            continue;
                        }
                        var word = key.substring(9).trim().toLowerCase().replace(/[^A-Za-z0-9]/gi, '');
                        if (word.length == 0) {
                            continue;
                        }

                        dic[word] = 1;
                        var key_word = key.substring(9).trim();
                        // Add slide bar
                        var first_row = `<br /><input type="button" name="button_${key_word}" value="${key_word}:" class="key-word-button" onclick="delete_this_keyword(this);"</input><br />`;
                        var second_row = `<p class="body-item-content" name="key_word_${key_word}">0<input onchange="updateRecommendation()" class="range" name="key_word_${key_word}" type="range" min="0" max="10"/>10</p>`;
                        $('#append-first-column-here').append(first_row);
                        $('#append-second-column-here').append(second_row);
                        $('#key-words-input').val('');

                        updateRecommendation();
                    }
                }



                // If the user Added Space, then create slide bar
                $('#key-words-input').on('input', function(e) {
                    var text = $('#key-words-input').val();
                    if (text.charAt(text.length - 1) == ' ') {
                         // `0` works in mozilla and `320 in other`
                         console.log('space pressed');
                         var key_word = String(text).trim().toLowerCase().replace(/[^A-Za-z0-9]/gi, '');
                         if (key_word.length == 0 || key_word in dic) {
                             $('#key-words-input').val('');
                             return;
                         }

                         dic[key_word] = 1;
                         // Add slide bar
                         var first_row = `<br /><input type="button" name="button_${key_word}" value="${key_word}:" class="key-word-button" onclick="delete_this_keyword(this);"</input><br />`;
                         var second_row = `<p class="body-item-content" name="key_word_${key_word}">0<input onchange="updateRecommendation()" class="range" name="key_word_${key_word}" type="range" min="0" max="10"/>10</p>`;
                         $('#append-first-column-here').append(first_row);
                         $('#append-second-column-here').append(second_row);
                         $('#key-words-input').val('');

                         updateRecommendation();
                         updateCurrentPageUrl(key_word, 5);
                    }
                });
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                // Add key words when a word is selected
                $('.body-item-content').mouseup(function() {
                    var key_word = '';

                    // Get selection area
                    if (window.getSelection) {
                        key_word = window.getSelection().toString();
                    } else if (document.selection) {
                        key_word = document.selection.createRange().text.toString();
                    }

                    key_word = key_word.trim().toLowerCase().replace(/[^A-Za-z0-9]/gi, '');
                    if (key_word.length == 0 || key_word in dic) {
                        return;
                    }

                    dic[key_word] = 1;

                    // Add slide bar
                    var first_row = `<br /><input type="button" name="button_${key_word}" value="${key_word}:" class="key-word-button" onclick="delete_this_keyword(this);"</input><br />`;
                    var second_row = `<p class="body-item-content" name="key_word_${key_word}">0<input onchange="updateRecommendation()" class="range" name="key_word_${key_word}" type="range" min="0" max="10"/>10</p>`;
                    $('#append-first-column-here').append(first_row);
                    $('#append-second-column-here').append(second_row);

                    updateRecommendation();
                    updateCurrentPageUrl(key_word, 5);
                });
            });
        </script>

        <script type="text/javascript">
            function loadMoreReviews(element) {
                if (!element.id.endsWith('_load_more_reviews')) {
                    return;
                }
                var business_id = element.name;
                if (business_id == null || business_id.length < 5) {
                    return;
                }
                var id = element.id.split('_')[0];
                // console.log(business_id);

                data = {};
                $("input[type='range']").each(function() {
                    data[$(this).attr("name")] = $(this).val();
                });
                data['business_id'] = business_id;
                $.post("get_top_reviews_business_id_jquery", data, function(res) {
                    if (res == null || res.message.replace(/"/g, "") !== 'SUCCESS') {
                        return;
                    }
                    // console.log(res.reviews);

                    // highlightWords(JSON.parse(res.reviews), `${id}_recommendation_content`);

                    // Add reviews
                    var output = '';
                    var reviews = JSON.parse(res.reviews);
                    console.log(dic_key_words);
                    for (var i = 0; i < reviews.length; i++) {
                        // Add stars
                        var j = 0;
                        for (; j < reviews[i].stars ; j++) {
                            output += '<img src="/images/icons/star.png" class="star-icon"/>';
                        }
                        for (; j < 5; j++) {
                            output += '<img src="/images/icons/star-grey.png" class="star-icon"/>';
                        }

                        output += `${reviews[i].date}</p>`;
                        if (dic_key_words) {
                            var words = reviews[i].text.split(" ");
                            var curr_len = 0;
                            for (var j in words) {
                                var word = words[j].replace(/[^A-Za-z0-9]/gi, '');

                                if (curr_len + word.length + 1 > MAX_CHAR_EACH_LINE) {
                                    output += '<br />';
                                    curr_len = 0;
                                }
                                curr_len += word.length + 1;

                                if (word.toLowerCase() in dic_key_words) {
                                    // console.log('Found a word in dictionary');
                                    // console.log(word);
                                    output += '<span style="background-color:yellow">' + words[j] + '</span>';
                                } else {
                                    output += words[j];
                                }
                                output += '&nbsp;'
                            }
                        }
                        output += '<p class="body-item-content">';
                        output += '<img src="/images/icons/bulb.png" class="other-icon"/>&nbsp;' + reviews[i].num_useful;
                        output += '<img src="/images/icons/funny.png" class="other-icon"/>&nbsp;' + reviews[i].num_funny;
                        output += '<img src="/images/icons/cool.png" class="other-icon"/>&nbsp;' + reviews[i].num_cool;
                        output += '</p>';
                        output += '     </td>\
                                    </tr>\
                                </table>';
                    }
                    // console.log(output);
                    $(`#${id}_recommendation_content`).html(output);
                });
            }

            function delete_this_keyword(element) {
                if (!element.name.startsWith("button_")) {
                    return;
                }
                var key_word = element.name.substring(7);
                var name = `key_word_${key_word}`;
                var value = $(`input[name="key_word_${key_word}"`).val();
                // console.log(key_word);

                // Remove elements
                element.remove();
                $(`input[name="key_word_${key_word}"`).remove();
                $(`p[name="key_word_${key_word}"`).remove();

                // Update URL
                var url = window.location.href;
                var newStr = '&' + name + '=' + value;
                // console.log(newStr);
                url = url.replace(newStr, '');

                newStr = newStr.substring(1);
                // console.log(newStr);
                url = url.replace(newStr, '')
                location.href = url;

                // console.log(url);
                // console.log(window.location.href);
            }

            function CopyURLToClipboard() {
                var Url = $("#url-text");
                Url.val(window.location.href);
                Url.select();
                document.execCommand("copy");

                var url = window.location.href;
                var name = $("#url-name").val();

                var data = {
                    url: url,
                    name: name
                };

                $.post("insert_url_name_jquery", data, function(res) {
                });
            }

            function updateCurrentPageUrl(name, value) {
                console.log();
                var url = window.location.href;
                if (url.indexOf('?') == -1) {
                    url += '?';
                }

                var newStr = 'key_word_' + name + '=' + value;

                // Prevent duplicate key_words in url
                if (url.indexOf(newStr) != -1) {
                    return;
                }
                url += '&' + newStr;
                // Update in this way can update the url without refreshing the page
                history.pushState(null, null, url);

                CopyURLToClipboard();
            }

            // Highlight words
            function highlightWords(reviews, path) {
                console.log(reviews);
                console.log(path);
                var output = '';
                for (var i = 0; i < reviews.length; i++) {
                    var words = reviews[i].text.split(" ");
                    var curr_len = 0;
                    for (var j in words) {
                        var word = words[j].replace(/[^A-Za-z0-9]/gi, '');

                        if (curr_len + word.length + 1 > MAX_CHAR_EACH_LINE) {
                            output += '<br />';
                            curr_len = 0;
                        }
                        curr_len += word.length + 1;

                        if (word.toLowerCase() in dic) {
                            // console.log('Found a word in dictionary');
                            // console.log(word);
                            output += '<span style="background-color:yellow">' + words[j] + '</span>';
                        } else {
                            output += words[j];
                        }
                        output += '&nbsp;'
                    }
                    if (path === 'review') {
                        $(`#${i+1}_${path}`).html(output);
                        output = '';
                    }
                }
                if (path !== 'review') {
                    $(`#${path}`).html(output);
                }
            }

            // Send HTTP request to update similarity
            function updateRecommendation() {
                // Add all data to dictionary
                var data = {};
                $("input[type='range']").each(function() {
                    data[$(this).attr("name")] = $(this).val();
                });
                data['restaurant_name'] = $('#restaurants-name-input').val();
                data['key_words_input'] = $('#key-words-input').val();
                data['reviews'] = reviews;
                // console.log(data);

                // console.log(data);
                $.get('similar_restaurants_jquery', data, function(response) {
                    // console.log(response.message.replace(/"/g, "") === 'SUCCESS');
                    if (response == null || response.message.replace(/"/g, "") !== 'SUCCESS') {
                        return;
                    }

                    recommendation_list_stars = JSON.parse(response.recommendation_list_stars);
                    // console.log(recommendation_list_stars);

                    reviews = response.reviews;
                    highlightWords(reviews, 'review');

                    var recommendation_list = JSON.parse(response.recommendation_list);
                    var recommendation_reviews = JSON.parse(response.recommendation_reviews);
                    // console.log(recommendation_list);
                    if (recommendation_list) {
                        for (var i = 0; i < recommendation_list.length; i++) {
                            var business_id = recommendation_list[i].split('\t')[0];
                            var name = recommendation_list[i].split('\t')[1];
                            var score = recommendation_list[i].split('\t')[2];
                            $(`#${i+1}_recommendation`).attr('href', '/get_top_reviews_business_id?business_id=${business_id}&begin_index=0&num_reviews=3');
                            $(`#${i+1}_recommendation_content`).html('');

                            // Add stars for business
                            var stars = recommendation_list_stars[i].split('\t')[1];
                            // console.log(stars);
                            var output = name + '<br />';
                            var num_stars = 0;
                            for (; stars > 0.5; stars--) {
                                output += '<img src="/images/icons/star.png" class="star-icon"/>';
                                num_stars++;
                            }
                            if (stars == 0.5) {
                                output += '<img src="/images/icons/star-half.png" class="star-icon"/>';
                                num_stars++;
                            }
                            for (; num_stars < 5; num_stars++) {
                                output += '<img src="/images/icons/star-grey.png" class="star-icon"/>';
                            }
                            $(`#${i+1}_recommendation`).html(output);
                            $(`#${i+1}_load_more_reviews`).attr('name', business_id);

                            // Update the score for each key words
                            var score_str = `Total Score: ${score}\xa0\xa0\xa0`;
                            if (recommendation_list[i].split('\t').length > 3) {
                                var items = recommendation_list[i].split('\t')[3].split(';');
                                // console.log(items);
                                for (var j = 0; j < items.length; j++) {
                                    var item = items[j];
                                    // console.log(item);
                                    var word = item.split(':')[0];
                                    // Change the first char of word to uppercase
                                    word = word.charAt(0).toUpperCase() + word.slice(1);
                                    var word_score = item.split(':')[1];
                                    score_str += `${word} Score: ${word_score}`;
                                    if (j < recommendation_list[i].split('\t').length - 1) {
                                        score_str += '\xa0\xa0\xa0';
                                    }
                                }
                            }
                            $(`#${i+1}_recommendation_score`).text(score_str);
                        }
                    }
                });
            }
        </script>
    </div>
    <!-- <script>
        $("#test").dblclick(function(){
            alert("The paragraph was double-clicked");
        });
    </script> -->

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <div id="div_message" style="display: none;" width="100%">{{message}}</div>
    <div id="div_reviews" style="display: none;" width="100%">{{reviews}}</div>
    <div id="div_key_words" style="display: none;" width="100%">{{key_words}}</div>
    <div id="div_recommendation" style="display: none;" width="100%">{{recommendation_list}}</div>
    <!-- <h3>Name: {{restaurant_name}}</h3> -->

    <script type="text/javascript">
    // Show the search result
        var output = '';
        const MAX_CHAR_EACH_LINE = 70;
        if ($('#div_message').text() === '' || JSON.parse($('#div_message').text()) !== 'SUCCESS') {
            output += '<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />';
        } else {
            if ($('#div_reviews').text().trim().length != 0) {
                var reviews = JSON.parse($('#div_reviews').text());
                var message = JSON.parse($('#div_message').text());
                var recommendation_list = JSON.parse($('#div_recommendation').text());
                var key_words = $('#div_key_words').text().split(' ');
                var dic_key_words = {}
                for (var i = 0; i < key_words.length; i++) {
                    var word = key_words[i].trim().toLowerCase();
                    if (word.lenght == 0) {
                        continue;
                    }
                    dic_key_words[word] = 1;
                }
                if (dic_key_words) {
                    dic_key_words = dic;
                    var str_dic_key_words = JSON.stringify(dic_key_words).replace(/"/g, "'");
                }
                // console.log(message);
                // if (message) {
                //     output += '<h3> Message:       ' + message + '</h3>';
                // }
                //
                // output += '<br />';

                if ($('#div_recommendation').text().trim().length > 2) {
                    updateRecommendation();
                }

                if (reviews) {
                    output = '';
                    output += '<table class="body-item-1">\
                                    <tr class="body-item">\
                                        <td class="body-item">\
                                            <p class="body-item-title-school">\
                                                ALL REVIEWS OF THE SELECTED RESTAURANT\
                                            </p>\
                                        </td>\
                                    </tr>\
                                </table>';
                    for (var i = 0; i < reviews.length; i++) {
                        output += '<table class="body-item-2">\
                                    <tr class="body-item">\
                                        <td class="body-item">';
                        output += '<ul>';

                        output += '<p class="body-item-content-first">';

                        // Add stars
                        var j = 0;
                        for (; j < reviews[i].stars ; j++) {
                            output += '<img src="/images/icons/star.png" class="star-icon"/>';
                        }
                        for (; j < 5; j++) {
                            output += '<img src="/images/icons/star-grey.png" class="star-icon"/>';
                        }

                        output += `${reviews[i].date}</p>`;
                        if (dic_key_words) {
                            var words = reviews[i].text.split(" ");
                            output += `<p class="body-item-content" id="${i+1}_review"name="reviews">`;
                            var curr_len = 0;
                            for (var j in words) {
                                var word = words[j].replace(/[^A-Za-z0-9]/gi, '');

                                if (curr_len + word.length + 1 > MAX_CHAR_EACH_LINE) {
                                    output += '<br />';
                                    curr_len = 0;
                                }
                                curr_len += word.length + 1;

                                if (word.toLowerCase() in dic_key_words) {
                                    // console.log('Found a word in dictionary');
                                    // console.log(word);
                                    output += '<span style="background-color:yellow">' + words[j] + '</span>';
                                } else {
                                    output += words[j];
                                }
                                output += '&nbsp;'
                            }
                            output += '</p>';
                        }
                        output += '<p class="body-item-content">';
                        output += '<img src="/images/icons/bulb.png" class="other-icon"/>&nbsp;' + reviews[i].num_useful;
                        output += '<img src="/images/icons/funny.png" class="other-icon"/>&nbsp;' + reviews[i].num_funny;
                        output += '<img src="/images/icons/cool.png" class="other-icon"/>&nbsp;' + reviews[i].num_cool;
                        output += '</p>';
                        output += '     </td>\
                                    </tr>\
                                </table>';
                    }
                }
                output += '<br /><br /><br /><br />';
            }
            $('#append-reviews-of-current-business-here').append(output);
        }
    </script>



{{> footer}}
