<h3>Name: {{name}}</h3>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<div id="div_message" style="display: none;" width="100%">{{message}}</div>
<div id="div_reviews" style="display: none;" width="100%">{{reviews}}</div>
<div id="div_key_words" style="display: none;" width="100%">{{key_words}}</div>
<div id="div_similar_list" style="display: none;" width="100%">{{similar_list}}</div>
<script>
    var reviews = JSON.parse($('#div_reviews').text());
    var message = JSON.parse($('#div_message').text());
    var str_key_words = $('#div_key_words').text();
    var key_words = JSON.parse(str_key_words.replace(/'/g, '"'));
    var similar_list = JSON.parse($('#div_similar_list').text());

    console.log(str_key_words);
    // var former_query = JSON.parse($('#div_former_query').text());
    // console.log(former_query);
    var output = '';
    console.log(message);
    if (message) {
        output += '<h3> Message:       ' + message + '</h3>';
    }

    if (key_words) {
        output += '<h3> key words: </h3>'
        output += '<p>';
        for (var key in key_words) {
            output += key + '&emsp;';
        }
        output += '</p>';
    }

    output += '<br />'

    if (similar_list) {
        output += '<h3> Similar Restaurants: </h3>'
        for (var i = 0; i < similar_list.length; i++) {
            output += '<ul>';
            output += '<li>name:        ' + similar_list[i].name + '</li>';
            output += '<li>score:       ' + similar_list[i].similarity_score + '</li>';
            output += '<li>stars:       ' + similar_list[i].stars + '</li>';
            output += '<li>review Count:' + similar_list[i].review_count + '</li>';
            output += `<a href="/reviews/business_id?business_id=${similar_list[i].business_id}&name=${similar_list[i].name}&key_words=${str_key_words}"><li>business_id: ${similar_list[i].business_id}</li></a>`;
            output += '<li>address:     ' + similar_list[i].address + '</li>';
            output += '<li>city:        ' + similar_list[i].city + '</li>';
            output += '<li>name:        ' + similar_list[i].name + '</li>';
            output += '<li>state:       ' + similar_list[i].state + '</li>';
            output += '<li>latitude:    ' + similar_list[i].latitude + '</li>';
            output += '<li>longitude:   ' + similar_list[i].longitude + '</li>';
            output += '<li>neighborhood:' + similar_list[i].longitude + '</li>';
            output += '</ul>';
        }
    }

    output += '<br />'

    // if (former_query) {
    //     output += '<p> Former Query: </p>';
    //     for (key in former_query) {
    //         output += '<p>' + key + ':      ' + former_query[key] + '</p>';
    //     }
    //     output += '<br />'
    // }
    if (reviews) {
        output += '<h3> All Reviews of This Business: </h3>'
        for (var i = 0; i < reviews.length; i++) {
            output += '<ul>';
            output += '<li>review_id:   ' + reviews[i].review_id + '</li>';
            output += '<li>name:        ' + reviews[i].name + '</li>';
            output += `<a href="/reviews/user_id?user_id=${reviews[i].user_id}&name=${reviews[i].name}&key_words=${str_key_words}"><li>user_id: ${reviews[i].user_id}</li></a>`;
            output += `<a href="/reviews/business_id?business_id=${reviews[i].business_id}&name=${reviews[i].name}&key_words=${str_key_words}"><li>business_id: ${reviews[i].business_id}</li></a>`;
            output += '<li>stars:       ' + reviews[i].stars + '</li>';
            output += '<li>date:        ' + reviews[i].date + '</li>';
            output += '<li>num_useful:  ' + reviews[i].num_useful + '</li>';
            output += '<li>num_funny:   ' + reviews[i].num_funny + '</li>';
            output += '<li>num_cool:    ' + reviews[i].num_cool + '</li>';

            var words = reviews[i].text.split(" ");
            output += '<li>text: ';
            for (var j in words) {
                var word = words[j].replace(/[^A-Za-z0-9]/gi, '');
                if (word.toLowerCase() in key_words) {
                    console.log('Found a word in dictionary');
                    console.log(word);
                    output += '<span style="background-color:yellow">' + words[j] + '</span>';
                } else {
                    output += words[j];
                }
                output += '&nbsp;'
            }
            output += '</li>';
            output += '</ul>';
        }
    }
    $('body').append(output);
</script>
